name: "{{ signal_name }}_{{ period }}_{{ timeframe }}_extreme"
timeframes: ["{{ timeframe }}"]

entry:
  long:
    mode: "all"
    conditions:
      - signal: "{{ signal_name }}_{{ period }}_up"
        operator: "crosses_above"
        value: "70"
        timeframe: "{{ timeframe }}"
      - signal: "{{ signal_name }}_{{ period }}_up"
        operator: "crosses_below"
        value: "30"
        timeframe: "{{ timeframe }}"

exit:
  long:
    mode: "any"
    conditions:
      - signal: "{{ signal_name }}_{{ period }}_up"
        operator: "crosses_below"
        value: "70"
        timeframe: "{{ timeframe }}"
      - signal: "{{ signal_name }}_{{ period }}_up"
        operator: "crosses_above"
        value: "30"

risk:
  position_sizing:
    type: "fixed"
    value: 1
    atr_distance: {{ atr_distance | float }}

  sl:
    type: "fixed"
    value: 10

  tp:
    type: "fixed"
    value: 1100.0
